<!doctype html>
<html lang="en">

<head>
   
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title>KWATAHELP</title>
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="assets/images/logok2.png" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    
    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="assets/css/slick.css">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="assets/css/custom-animation.css">
    <link rel="stylesheet" href="assets/css/default.css">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="assets/css/style.css">
  
  
</head>

<body>    

    <!--====== PRELOADER PART START ======-->



    <!--====== PRELOADER PART ENDS ======-->

    <!--====== OFFCANVAS MENU PART START ======-->

    <div class="off_canvars_overlay">
                
    </div>
    <div class="offcanvas_menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="fa fa-times"></i></a>  
                        </div>
                        <div class="offcanvas-brand text-center mb-40">
                            <img src="assets/images/logo.png" alt="">
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a href="#">Acceuil</a>
                                  
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="#service">A propos</a>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="#features">Contact</a>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="#testimonial">Testimonial</a>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="#">News</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">news page</a></li>
                                        <li><a href="index-2.html">Single News</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children active">
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas-social">
                            <ul class="text-center">
                                <li><a href="$"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="$"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="$"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="$"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer-widget-info">
                            <ul>
                                <li><a href="#"><i class="fal fa-envelope"></i> info@kwatahelp.com</a></li>
                                <li><a href="#"><i class="fal fa-phone"></i> +(237) 656801098</a></li>
                                <li><a href="#"><i class="fal fa-map-marker-alt"></i> Douala cameroun Makepe Bloc F</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== OFFCANVAS MENU PART ENDS ======-->
   
    <!--====== PART START ======-->
    
    <header class="appie-header-area appie-header-7-area appie-sticky">
        <div class="container">
            <div class="header-nav-box header-nav-box-7">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-4 col-sm-5 col-6 order-1 order-sm-1">
                        <div class="appie-logo-box">
                            <a href="#">
                                <img src="assets/images/logok.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-1 col-sm-1 order-3 order-sm-2">
                        <div class="appie-header-main-menu">
                            <ul>
                                <li>
                                    <a href="#">Accueil </i></a>
                                
                                </li>
                                
                                <li> 
                                    <a href="#apropos">A propos</i></a>
                                 
                                </li>
                                <li>
                                    <a href="#captures">Captures d'ecrans </i></a>
                                   
                                </li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-7 col-sm-6 col-6 order-2 order-sm-3">
                        <div class="appie-btn-box text-right">
                            
                            <a class="main-btn ml-30" href="https://play.google.com/store/apps/details?id=com.kwatahelpapp.app">Telecharger l'application sur Google play</a>
                            <div class="toggle-btn ml-30 canvas_open d-lg-none d-block">
                                <i class="fa fa-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!--====== PART ENDS ======-->

    <!--====== APPIE HERO PART START ======-->
    
    <section class="appie-hero-area appie-hero-6-area appie-hero-7-area" >
        <div  class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="appie-hero-content appie-hero-content-6 appie-hero-content-7">
                        <h1 class="appie-title">Bienvenue sur KWATAHELP </h1>
                        <p>Avec nous, vous pouvez trouver un prestataire de service non loin de chez vous, acheter ou vendre des produits dans nos magazins, suivre les actualités de votre quartier.</p>
                        <ul>
                           
                            <li><a class="item-2" href="https://play.google.com/store/apps/details?id=com.kwatahelpapp.app"><i class="fab fa-google-play"></i> <span>Disponible sur<span>Google Play</span></span></a></li>
                        </ul>
                        <div class="info">
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="appie-hero-thumb-6">
                        <div class="thumb wow animated fadeInUp text-center" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <img src="assets/images/kwata.png" alt="">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== APPIE HERO PART ENDS ======-->

    <!--====== APPIE FEATURES PART START ======-->
 <center>
    <section class="appie-features-area pt-100" id="features">
        <div id="apropos" class="container">
            <div class="row align-items-center">
                
                <div class="col-lg-9 mx-auto">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="appie-features-thumb text-center wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                                        <img src="assets/images/paiement.jpg" alt="">
                                    </div>
                                    
                                </div>
                                <div class="col-lg-6">
                                    <div class="appie-features-content wow animated fadeInRight" data-wow-duration="2000ms" data-wow-delay="600ms">
                                        
                                        <h3 class="title"> PRESENTATION KWATAHELP</h3>
                                        <p>      

                                            Bienvenue sur KWATAHELP
                                            Avec nous, vous pouvez trouver un prestataire de service non loin de chez vous, acheter ou vendre des produits dans nos magazins, suivre les actualités de votre quartier.
                                   
                                        </p>
                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="appie-features-thumb text-center animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                                        <img src="assets/images/features-thumb-1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="appie-features-content animated fadeInRight" data-wow-duration="2000ms" data-wow-delay="600ms">
                                        <span>Custom Reacyions</span>
                                        <h3 class="title">Let the <br> Conversation flow</h3>
                                        <p>Car boot absolutely bladdered posh burke the wireless mush some dodg.</p>
                                        <a class="main-btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="appie-features-thumb text-center animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                                        <img src="assets/images/features-thumb-1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="appie-features-content animated fadeInRight" data-wow-duration="2000ms" data-wow-delay="600ms">
                                        <span>Custom Reacyions</span>
                                        <h3 class="title">Let the <br> Conversation flow</h3>
                                        <p>Car boot absolutely bladdered posh burke the wireless mush some dodg.</p>
                                        <a class="main-btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="appie-features-thumb text-center animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                                        <img src="assets/images/features-thumb-1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="appie-features-content animated fadeInRight" data-wow-duration="2000ms" data-wow-delay="600ms">
                                        <span>Custom Reacyions</span>
                                        <h3 class="title">Let the <br> Conversation flow</h3>
                                        <p>Car boot absolutely bladdered posh burke the wireless mush some dodg.</p>
                                        <a class="main-btn" href="#">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features-shape-1">
            <img src="assets/images/shape/shape-6.png" alt="">
        </div>
        <div class="features-shape-2">
            <img src="assets/images/shape/shape-7.png" alt="">
        </div>
        <div class="features-shape-3">
            <img src="assets/images/shape/shape-8.png" alt="">
        </div>
    </section>
  <center>
    <!--====== APPIE FEATURES PART ENDS ======-->

    <!--====== APPIE COUNTER PART START ======-->
    
    
   
    <section class="appie-team-area pt-90 pb-90">
        <div id="captures" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="appie-section-title text-center">
                        <h3 class="appie-title">Captures d'ecrans </h3>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="appie-team-item mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="200ms">
                        <div class="thumb">
                            <img src="assets/images/loging.jpg" alt="">
                            
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="appie-team-item mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="400ms">
                        <div class="thumb">
                            <img src="assets/images/domaine.jpg" alt="">
                           
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="appie-team-item mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="600ms">
                        <div class="thumb">
                            <img src="assets/images/kwatahome.jpg" alt="">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="appie-team-item mt-30 wow animated fadeInUp" data-wow-duration="2000ms" data-wow-delay="800ms">
                        <div class="thumb">
                            <img src="assets/images/qrcode.jpg" alt="">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                     
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    
    
  

    
    
    
    <!--====== APPIE PROJECT PART ENDS ======-->

    <!--====== APPIE FOOTER PART START ======-->
    
    <section class="appie-footer-area ">
        <div id="contact" class="container">
            <div class="row">
                <div class="col-lg-4 col-md-8 mx-auto">
                    <div class="footer-about-widget">
                        <div class="logo">
                            <a href="#"><img src="assets/images/logok.png" alt=""></a>
                        </div>
                        <p>Avec nous, vous pouvez trouver un prestataire de service non loin de chez vous, acheter ou vendre des produits dans nos magazins, suivre les actualités de votre quartier.</p>
                        
                     
                    </div>
                </div>
                <div class="col-lg-2 col-md-8 mx-auto">
                    <div class="footer-navigation">
                        <h4 class="title">KWATAHELP</h4>
                        <ul>
                            <li><a href="#">Acceuil</a></li>
                            <li><a href="#">A propos</a></li>
                            <li><a href="#">Captures d'ecran</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-8 mx-auto">
                    <div class="footer-widget-info">
                        <h4 class="title">Contact</h4>
                        <ul>
                            <li><a href="#"><i class="fal fa-envelope"></i> info@kwatahelp.com</a></li>
                            <li><a href="#"><i class="fal fa-phone"></i> +(237) 694258657</a></li>
                            <li><a href="#"><i class="fal fa-map-marker-alt"></i> Douala cameroun Makepe Bloc F</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright d-flex align-items-center justify-content-between pt-35">
                        <div class="apps-download-btn">
                        <ul>
                            
                            <li><a class="item-2" href="https://play.google.com/store/apps/details?id=com.kwatahelpapp.app"><i class="fab fa-google-play"></i> Telecharger l'application sur Google play</a></li>
                        </ul>
                        </div>
                        <div class="copyright-text">
                            <p>Copyright © 2021 KWATAHELP. full design by <a class="item-2" href="http://www.aite-consulting.com">AITE GROUP.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--====== APPIE FOOTER PART ENDS ======-->


    <!--====== APPIE BACK TO TOP PART ENDS ======-->
    <div class="back-to-top">
        <a href="#"><i class="fal fa-arrow-up"></i></a>
    </div>
    <!--====== APPIE BACK TO TOP PART ENDS ======-->



    
    
    
    
    
    <!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    
    <!--====== wow js ======-->
    <script src="assets/js/wow.js"></script>
    
    <!--====== Slick js ======-->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>

    <!--====== TweenMax js ======-->
    <script src="assets/js/TweenMax.min.js"></script>
    
    <!--====== Slick js ======-->
    <script src="assets/js/slick.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>

</body>

</html>
